/* Error: Undefined variable.
 *   ,
 * 6 |   .child { text-align: center; width:100%; max-width:$max-width; margin-left: auto; margin-right: auto; }
 *   |                                                      ^^^^^^^^^^
 *   '
 *   sass\partials\_home.scss 6:54  @use
 *   sass\damn.scss 16:1            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 6 \2502    .child { text-align: center; width:100%; max-width:$max-width; margin-left: auto; margin-right: auto; }\d\a   \2502                                                       ^^^^^^^^^^\a   \2575 \a   sass\\partials\\_home.scss 6:54  @use\a   sass\\damn.scss 16:1            root stylesheet";
}
