header > .inner {
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.game-over .stripes, .share-round-holder .share-round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.game-over .stripes > .child, .share-round-holder .share-round > .child {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html,
body {
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

b,
strong {
  font-weight: bold;
}

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

ul,
ol {
  list-style: none;
}

li {
  display: list-item;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

sub,
sup,
small {
  font-size: 75%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg {
  overflow: hidden;
}

body {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  background: #222730;
}

h1, h2, h3, h4, h5 h6 {
  font-family: "Roboto Slab", serif;
}

p {
  padding-bottom: 1em;
}

svg * {
  fill: currentColor;
}

[v-cloak] {
  display: none !important;
}

header {
  background-color: #2A313A;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  height: 2.5rem;
  z-index: 4;
}
header span {
  display: inline-block;
  vertical-align: middle;
}
header .label {
  font-size: 0.7em;
  font-family: "Roboto", sans-serif;
  line-height: 200%;
  padding-right: 0.5em;
}
header .number {
  font-size: 1.8em;
  font-weight: 300;
  line-height: 50%;
  color: #6CB200;
}
header .number.bad {
  color: #b22028;
}
header > .inner {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 0.2rem;
}
header > .inner .box {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  text-align: center;
}
header .hamburger {
  background: transparent;
  padding: 3px;
  border: none;
  cursor: pointer;
  color: #3e98f2;
  outline: none;
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  top: 0;
  right: 2rem;
}
header .hamburger .fill, header .hamburger .x {
  opacity: 0;
}
header .hamburger:hover .fill {
  opacity: 1;
}
header .hamburger:hover .question-mark, header .hamburger:hover .x {
  fill: #222730;
}
header .hamburger.is-active .question-mark {
  opacity: 0;
}
header .hamburger.is-active .x {
  opacity: 1;
}

@media (max-width: 700px) {
  header > .inner .box {
    -ms-flex-preferred-size: 33.3333%;
        flex-basis: 33.3333%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
  }
  header > .inner .box.hamburger-holder {
    -ms-flex-preferred-size: 3rem;
        flex-basis: 3rem;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
  }
  header .hamburger-holder {
    text-align: right !important;
  }
  header .hamburger-holder .hamburger {
    position: relative;
    top: auto;
    right: auto;
    height: 100%;
  }
  header .hamburger-holder .hamburger svg {
    height: 1.6rem;
  }
}
main {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}

.image-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  min-height: 100%;
  padding-top: 2.5rem;
  /*
  h2 { font-size:2em; font-weight: $light; margin-top: 0.2em; margin-bottom: 0.4em; display: block;
    &.nope { color:$red; }
    &.yup { color:$green; }
  }
  */
}
.image-holder .child {
  text-align: center;
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.image-holder img {
  max-width: 100%;
}
.image-holder h1, .image-holder h2 {
  font-weight: 300;
  font-size: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: rgba(255, 255, 255, 0.6);
}
.image-holder h1.nope, .image-holder h2.nope {
  color: #b22028;
}
.image-holder h1.yup, .image-holder h2.yup {
  color: #6CB200;
}
.image-holder a {
  color: #3e98f2;
  text-decoration: none;
}
.image-holder .input-holder {
  position: relative;
}
.image-holder .input-holder select {
  font-family: "Roboto Slab", serif;
  color: black;
  font-size: 1.3rem;
}
.image-holder .input-holder select {
  background-color: rgba(255, 255, 255, 0.65);
  border: none;
  margin: 0;
  display: block;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 3em;
  text-transform: capitalize;
}
.image-holder .input-holder select:focus {
  background: rgba(255, 255, 255, 0.9);
}
.image-holder .input-holder select option {
  padding-left: 2rem;
  font-size: 1rem;
}
.image-holder .input-holder label {
  position: absolute;
  top: 2rem;
  left: 2rem;
}
.image-holder .correctis {
  color: #fff;
  font-weight: 300;
  font-size: 0.8em;
  text-transform: uppercase;
}
.image-holder .correct-title {
  margin: 0;
  display: block;
  font-size: 1.5em;
  color: #9ecbf8;
  font-weight: 300;
}
.image-holder .correct-title:hover {
  text-decoration: underline;
}
.image-holder .button-holder {
  padding-top: 1em;
}
.image-holder button {
  background: transparent;
  border: 2px solid #3e98f2;
  color: #3e98f2;
  font-family: "Roboto Slab", serif;
  font-size: 1.4em;
  font-weight: 300;
  padding: 0.25em 1em;
  cursor: pointer;
}
.image-holder button:hover {
  background: #3e98f2;
  color: #222730;
}
.image-holder .result {
  padding-top: 0.5em;
}

[data-display=wrong], [data-display=correct], [data-display="play again"] {
  display: none;
}

@media (max-width: 700px) {
  .image-holder h1 {
    font-size: 5vw;
  }
}
.sidebar {
  position: fixed;
  top: 2.5rem;
  right: 0;
  background: #f0f1f2;
  width: 13rem;
  padding: 1rem;
  z-index: 3;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100% - 2.5rem);
  -webkit-transform: translateX(101%);
      -ms-transform: translateX(101%);
          transform: translateX(101%);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sidebar li {
  margin-bottom: 0.65em;
}
.sidebar .label {
  display: block;
}
.sidebar .indent {
  display: block;
  padding-left: 0.75em;
  font-weight: 700;
}
.sidebar a {
  color: #3e98f2;
  text-decoration: none;
  cursor: pointer;
}
.sidebar a:hover {
  text-decoration: underline;
}
.sidebar .smaller {
  font-size: 0.8em;
}
.sidebar.visible {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.share-round-holder {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background: rgba(51, 51, 51, 0.73);
}
.share-round-holder .share-round {
  position: relative;
  height: 100%;
}
.share-round-holder .child {
  text-align: center;
  color: #fff;
  font-size: 2rem;
}
.share-round-holder span {
  display: block;
  margin-bottom: 0.5em;
}
.share-round-holder .button {
  background: transparent;
  font-size: 0.7em;
  border: 2px solid #3e98f2;
  color: #3e98f2;
  font-family: "Roboto Slab", serif;
  padding: 0.25em 1em;
  cursor: pointer;
}
.share-round-holder .button:hover {
  background: #3e98f2;
  color: #222730;
}

/*

.homescreen-help-holder {  background:$blue; color:$black; z-index:$z-homescreenbox;
  &.android { @include position(fixed,0,0); max-width: 16em;
    .ios, .edge, .opera, .desktop-chrome { display: none; }
    b { display: block; }
    .tap-that-icon { margin-top: -1.2em; }
    .bottom-center-icon { display:none; }
    &.opera { left:0; right: null; padding-top:20px;
      .tap-that-icon { text-align: left; padding-top: 1em; padding-left: 2em; }
      span.arrow { @include position(absolute,-16px,null,null,10px); }
      .button { margin-top: 1em; display: inline-block; }
    }
  }
  &.ios { @include position(fixed,null,0,0,0);
    .homescreen-help { text-align: center; }
    .android, .edge, .opera, .desktop-chrome { display: none; }
    span.arrow { display:block; text-align: center;  }
    .top-right-icon { display:none; }
  }
  &.edge { @include position(fixed,0,0); max-width: 16em;
    .ios, .android, .opera, .desktop-chrome { display: none; }
  }
  &.opera { @include position(fixed,0,0); max-width: 16em;
    .top-right-icon { padding-right: 2.1em; }
    .ios, .android, .edge, .desktop-chrome { display: none; }
  }
  &.desktop-chrome { @include position(fixed,0,0); max-width: 16em;
    .ios, .android, .edge, .opera { display: none; }
  }
  .homescreen-help { text-align: right; padding-right: 0.5em; padding-bottom: 1em; padding-left: 1em; }  
  span.arrow { font-size:3.2em; }
  .button { color:$black; border:2px solid $black; padding:.25em 1em; cursor: pointer; 
    &:hover { color:$blue; background:$black; border-color: $blue; }
  }
}
*/
.homescreen-help-holder {
  background-color: rgba(51, 51, 51, 0.9);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 6;
  /*
  &.android { @include position(fixed,0,0); max-width: 16em;
    .ios, .edge, .opera, .desktop-chrome { display: none; }
    b { display: block; }
    .tap-that-icon { margin-top: -1.2em; }
    .bottom-center-icon { display:none; }
    &.firefox { padding-top:1em; }
  }
  &.ios { @include position(fixed,null,0,0,0);
    .homescreen-help { text-align: center; }
    .android, .edge, .opera, .desktop-chrome { display: none; }
    span.arrow { display:block; text-align: center;  }
    .top-right-icon { display:none; }
  }
  &.edge { @include position(fixed,0,0); max-width: 16em;
    .ios, .android, .opera, .desktop-chrome { display: none; }
  }
  &.opera { @include position(fixed,0,0); max-width: 16em;
    .top-right-icon { padding-right: 2.1em; }
    .ios, .android, .edge, .desktop-chrome { display: none; }
  }
  &.desktop-chrome { @include position(fixed,0,0); max-width: 16em;
    .ios, .android, .edge, .opera { display: none; }
  }
  .homescreen-help { text-align: right; padding:0.5em 0.5em 1em 1em; }  
  span.arrow {
    svg { height: 1em; width: 1em; }
  }
  .button { color:$black; border:2px solid $black; padding:.25em 1em; cursor: pointer; display: inline-block; margin-top:0.5em; margin-bottom:0.5em;
    &:hover { color:$yellow; background:$black; border-color: $yellow; }
  }
  */
}
.homescreen-help-holder .homescreen-help {
  background: white;
  color: #333;
  position: fixed;
  top: 0;
  right: 0;
  padding: 1em;
}
.homescreen-help-holder svg {
  fill: currentColor;
}
.homescreen-help-holder svg * {
  fill: currentColor;
}
.homescreen-help-holder .help {
  text-align: right;
  line-height: 160%;
}
.homescreen-help-holder .help span {
  display: block;
}
.homescreen-help-holder .help svg {
  width: 0.8em;
  height: 0.8em;
}
.homescreen-help-holder.ios {
  top: auto;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
}
.homescreen-help-holder.ios .help {
  text-align: center;
}
.homescreen-help-holder .button-holder {
  padding-top: 1em;
  text-align: center;
}
.homescreen-help-holder .button-holder button {
  background: transparent;
  font-size: 1em;
  border: 2px solid #3e98f2;
  color: #3e98f2;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
  padding: 0.25em 1em;
  cursor: pointer;
}
.homescreen-help-holder .button-holder button:hover {
  background: #3e98f2;
  color: #222730;
}

@media all and (display-mode: standalone) {
  #AddToHomeScreen {
    display: none;
  }
}
.banner {
  background-color: yellow;
  width: 305px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.banner .icon-holder {
  -ms-flex-preferred-size: 76px;
      flex-basis: 76px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  padding: 10px;
}
.banner .text-holder {
  -ms-flex-preferred-size: calc(100% - 76px);
      flex-basis: calc(100% - 76px);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  padding-top: 20px;
  padding-right: 20px;
  font-size: 120%;
}
.banner .text {
  color: #333;
  text-decoration: none;
}
.banner .text:hover {
  text-decoration: underline;
}
.banner .close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.banner .close svg {
  width: 18px;
  height: 18px;
}
.banner .close .fill {
  opacity: 0;
}
.banner .close:hover .x {
  fill: yellow;
}
.banner .close:hover .fill {
  opacity: 1;
}

.animated {
  -webkit-animation-duration: 0.65s;
          animation-duration: 0.65s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
.bounceInDown {
  -webkit-animation-name: bounceInDown;
          animation-name: bounceInDown;
}

.game-over {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(34, 39, 48, 0.8);
  color: rgba(255, 255, 255, 0.6);
}
.game-over .stripes {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.game-over h2 {
  font-size: 14vw;
  text-align: center;
}
.game-over table {
  margin-left: auto;
  margin-right: auto;
  font-size: 5vw;
}
.game-over table th, .game-over table td {
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center;
  line-height: 100%;
}
.game-over table th {
  text-transform: uppercase;
  font-size: 0.6em;
}
.game-over table td {
  font-weight: 300;
  font-size: 2em;
}
.game-over .button-holder {
  text-align: center;
}
.game-over .button {
  color: #3e98f2;
  background: transparent;
  padding: 0.5em 1.5em;
  border: 1px solid #3e98f2;
  font-size: 22px;
  font-family: "Roboto Slab", serif;
  cursor: pointer;
}
.game-over .button:hover {
  background: #3e98f2;
  color: #333;
}

main.offline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main.offline .offline-dog {
  max-height: 80vh;
  max-width: 80vw;
  width: 100%;
}
/*# sourceMappingURL=damn.css.map */