@import "partials/_variables";
@import "partials/_z-index";
@import "partials/_mixins";
@import "partials/_extends";

@import "partials/_reset";
@import "partials/_defaults";

@import "partials/_header";
@import "partials/_home";
@import "partials/_sidebar";
@import "partials/_banner";
@import "partials/_game-over";
@import "partials/_offline";