// DAMN DOG Stylesheet
// Modern SCSS using @use syntax
// https://sass-lang.com/documentation/at-rules/use

// ABSTRACTS are variables and mixins (they should *never* add lines to the production CSS)
@use "partials/variables" as vars;
@use "partials/mixins" as mix;
@use "partials/extends";

// BASE is for global styles
@use "partials/reset";
@use "partials/defaults";

// LAYOUT & COMPONENTS
@use "partials/header";
@use "partials/home";
@use "partials/sidebar";
@use "partials/banner";
@use "partials/game-over";
@use "partials/offline";
@use "partials/page";