link(rel="icon" type="image/svg+xml" href="/favicon.svg")
link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=2024")
link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=2024")
link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=2024")
link(rel="manifest" href="/manifest.json?v=2024")
link(rel="mask-icon" href="/safari-pinned-tab.svg?v=2024" color="#ab4444")
link(rel="shortcut icon" href="/favicon.ico?v=2024")
meta(name="apple-mobile-web-app-title" content="DAMN DOG")
meta(name="application-name" content="DAMN DOG")
meta(name="msapplication-TileColor" content="#222731")
meta(name="theme-color" content="#222730")