section.game-over#GameOver
  .stripes
    .child 
      h2 GAME OVER
    .child
      table
        thead
          tr
            th Rounds Played
            th Correct
            th Incorrect
            th Percent
        tbody
          tr
            td#FinalPlayed
            td#FinalCorrect
            td#FinalIncorrect
            td#FinalPercent