meta(charset="utf-8")
title= siteTitle
meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,400,300,700|Roboto:400,300,700,400italic")
link(rel="stylesheet" href="css/damn.css?v="+lastUpdated)
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="description" content=description)
meta(http-equiv="last-modified" content=lastUpdated)
link(rel="canonical" href=siteURL) 

// favicons
include _favicons.pug

//social
include _social.pug