//- jQuery and Vue (minified if on prod)
if testing
  script(src="js/libraries/jquery-3.3.1.js")
  script(src="js/libraries/vue.js")
  script.
    const testing = true;
else
  script(src="js/libraries/jquery-3.3.1.min.js")
  script(src="js/libraries/vue.min.js")
  script.
    const testing = false;

//- ServiceWorker

script(type="text/javascript").
  //This is the "Offline page" service worker
  if (navigator.serviceWorker.controller) {
    console.log('active service worker found, no need to register')
  } else {
    //Register the ServiceWorker
    navigator.serviceWorker.register('pwabuilder-sw.js', {
      scope: './'
    }).then(function(reg) {
      console.log('Service worker has been registered for scope: '+ reg.scope);
    });
  }

// Global site tag (gtag.js) - Google Analytics
script(async src='https://www.googletagmanager.com/gtag/js?id=UA-15129990-16')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-15129990-16');

script(src="js/min/damn.vue.min.js")

//- trackJS
script(src="https://cdn.trackjs.com/agent/v3/latest/t.js" crossorigin)
script.
  window.TrackJS && TrackJS.install({
    token: "9947e081831c42b8aeb3a5fb81a152c4",
    application: "damndog"
  });