script(src="https://code.jquery.com/jquery-2.1.4.min.js")

if testing
  script(src="js/libraries/vue.js")
else
  script(src="js/libraries/vue.min.js")

script(src="js/min/damn.vue.min.js?v="+lastUpdated)
script(type="text/javascript").
  //This is the "Offline page" service worker
  if (navigator.serviceWorker.controller) {
    console.log('active service worker found, no need to register')
  } else {
    //Register the ServiceWorker
    navigator.serviceWorker.register('pwabuilder-sw.js', {
      scope: './'
    }).then(function(reg) {
      console.log('Service worker has been registered for scope:'+ reg.scope);
    });
  }



script(type="text/javascript").
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-15129990-16', 'auto');
  ga('send', 'pageview');
script(type="text/javascript").
  window._trackJs = {
    token: "9947e081831c42b8aeb3a5fb81a152c4",
    application: "damnDog"
  }
script(type="text/javascript" src="https://cdn.trackjs.com/releases/current/tracker.js")