if testing
  script(src="js/libraries/vue.js")
  script.
    const testing = true;
else
  script(src="js/libraries/vue.min.js")
  script.
    const testing = false;

// Global site tag (gtag.js) - Google Analytics
script(async src='https://www.googletagmanager.com/gtag/js?id=UA-15129990-16')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-15129990-16');

script(type="module" src="js/min/ts/damn.vue.js?v="+lastUpdated)

//- trackJS
script(src="https://cdn.trackjs.com/agent/v3/latest/t.js" crossorigin)
script.
  window.TrackJS && TrackJS.install({
    token: "9947e081831c42b8aeb3a5fb81a152c4",
    application: "damndog"
  });