.sidebar(v-bind:class="{visible: drawerOpen}")
  ul
    li
      span.label Game by
      span.indent
        a(href="https://ahoylemon.xyz" onclick="sendEvent('outside link', 'https://ahoylemon.xyz')") Lemon
    //-
      li
        span.label who also made
        span.indent
          a(href="http://idiots.win/" target="blank" onclick="sendGA('outside link', 'http://idiots.win/')") idiots.win
    li 
      span.label Current round count
      span.indent
        span.number-of-rounds {{drawings.length}}
    li
      span.label Global average
      span.indent
        | {{averagePercent}}% correct
    li 
      span.label Learn more
      span.indent
        a(href="https://github.com/AhoyLemon/damn.dog#readme" target="_blank" onclick="sendEvent('outside link', 'https://github.com/AhoyLemon/damn.dog')") here
    li(v-if="standalone == false")
      span.label You can
      span.indent
        a(v-on:click="help = 'share'") share this round.
    li#AddToHomeScreen(v-if="device && standalone == false")
      span.label But first
      span.indent 
        a(v-on:click="help = 'bookmark'")
          span(v-if="(device == 'android') || (device == 'ios')") add to home screen
          span(v-else-if="(browser == 'ie') || (browser == 'edge')") pin to start
          span(v-else-if="device == 'chrome'") add to shelf
          span(v-else-if="browser == 'chrome'") save this
          span(v-else-if="(device == 'mac') || (browser == 'firefox') || (browser == 'opera') || (browser == 'vivaldi')") bookmark this
    li.smaller Your progress will be saved if you close this browser.
    
.share-round-holder.helper-holder(v-cloak v-if="help == 'share'")
  .share-round
    .child
      span Just copy the URL. The other person will see this round.
      a.button.close-sharebox(v-on:click="help = false") Alright.
      
.homescreen-help-holder(v-cloak v-if="help == 'bookmark'")
  .homescreen-help(v-bind:class=" { ios: device == 'ios' } ")
    .help.android-help(v-if="device == 'android'")
      span
        | Tap the 
        svg.kebab(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
          circle(cx="53.6" cy="13.1" r="11.4")
          circle(cx="53.6" cy="49.8" r="11.4")
          circle(cx="53.6" cy="86.5" r="11.4")
        |  icon up there 
        svg.arrow.arrow-up(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
          path(d="M89.5 41.1L54.9 3c-1.4-1.6-3.9-1.6-5.3 0L15 41c-2.3 2.6 0 6.6 3.4 5.9l21-4.2v50.4c0 2 1.6 3.6 3.6 3.6h18.2c2 0 3.6-1.6 3.6-3.6V42.7l21.5 4.2c3.2.9 5.5-3.3 3.2-5.8z")
      span
        | Then choose 
        b Add to Home Screen
    .help.ios-help(v-else-if="device == 'ios'")
      span
        | Tap the
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
          path(d="M41.7 18.1l9.5-9.5v52c0 1.3.9 2.2 2.2 2.2 1.3 0 2.2-.9 2.2-2.2v-52l9.5 9.5c.4.4.9.7 1.5.7.7 0 1.1-.2 1.5-.7.9-.9.9-2.2 0-3.1L54.9 1.8c-.2-.2-.4-.4-.7-.4-.4-.2-1.1-.2-1.8 0-.2.2-.4.2-.7.4L38.6 15c-.9.9-.9 2.2 0 3.1.9.9 2.2.9 3.1 0zm42.5 9.5H66.6V32h17.6v61.7H22.5V32h17.6v-4.4H22.5c-2.4 0-4.4 2-4.4 4.4v61.7c0 2.4 2 4.4 4.4 4.4h61.7c2.4 0 4.4-2 4.4-4.4V32c0-2.4-2-4.4-4.4-4.4z")
        |  icon below.
      span
        | Then choose 
        b Add To Home Screen
    .help.chrome-help(v-else-if="(browser == 'chrome')")
      span
        | Tap the 
        svg.kebab(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
          circle(cx="53.6" cy="13.1" r="11.4")
          circle(cx="53.6" cy="49.8" r="11.4")
          circle(cx="53.6" cy="86.5" r="11.4")
        |  up there. 
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
          path(d="M89.5 41.1L54.9 3c-1.4-1.6-3.9-1.6-5.3 0L15 41c-2.3 2.6 0 6.6 3.4 5.9l21-4.2v50.4c0 2 1.6 3.6 3.6 3.6h18.2c2 0 3.6-1.6 3.6-3.6V42.7l21.5 4.2c3.2.9 5.5-3.3 3.2-5.8z")
      span(v-if="device == 'windows' || device == 'mac'")
        | Then choose 
        b Install damn dog
      span(v-if="device == 'chrome'")
        | Then choose 
        b More tools 
        | and 
        b Add to shelf
    .help.safari-help(v-else-if="browser == 'safari'")
      span 
        svg.arrow.arrow-up(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
          path(d="M89.5 41.1L54.9 3c-1.4-1.6-3.9-1.6-5.3 0L15 41c-2.3 2.6 0 6.6 3.4 5.9l21-4.2v50.4c0 2 1.6 3.6 3.6 3.6h18.2c2 0 3.6-1.6 3.6-3.6V42.7l21.5 4.2c3.2.9 5.5-3.3 3.2-5.8z")
        |  Tap the
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
          path(d="M41.7 18.1l9.5-9.5v52c0 1.3.9 2.2 2.2 2.2 1.3 0 2.2-.9 2.2-2.2v-52l9.5 9.5c.4.4.9.7 1.5.7.7 0 1.1-.2 1.5-.7.9-.9.9-2.2 0-3.1L54.9 1.8c-.2-.2-.4-.4-.7-.4-.4-.2-1.1-.2-1.8 0-.2.2-.4.2-.7.4L38.6 15c-.9.9-.9 2.2 0 3.1.9.9 2.2.9 3.1 0zm42.5 9.5H66.6V32h17.6v61.7H22.5V32h17.6v-4.4H22.5c-2.4 0-4.4 2-4.4 4.4v61.7c0 2.4 2 4.4 4.4 4.4h61.7c2.4 0 4.4-2 4.4-4.4V32c0-2.4-2-4.4-4.4-4.4z")
        |  icon. 
      span
        | Then 
        b Add Bookmark
        | .
    .help.edge-help(v-else-if="browser == 'edge'")
      span
        | Tap the 
        svg(xmlns="http://www.w3.org/2000/svg" width="96.1" height="22.8" viewBox="0 0 96.1 22.8")
          circle(cx="84.7" cy="11.4" r="11.4")
          circle(cx="48.1" cy="11.4" r="11.4")
          circle(cx="11.4" cy="11.4" r="11.4")
        |  icon up here 
        svg.arrow.arrow-up(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
          path(d="M89.5 41.1L54.9 3c-1.4-1.6-3.9-1.6-5.3 0L15 41c-2.3 2.6 0 6.6 3.4 5.9l21-4.2v50.4c0 2 1.6 3.6 3.6 3.6h18.2c2 0 3.6-1.6 3.6-3.6V42.7l21.5 4.2c3.2.9 5.5-3.3 3.2-5.8z")
      span Then choose 
        b Pin this page to start.
    .help.firefox-help(v-else-if="browser == 'firefox'")
      span
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
          path(d="M89.5 41.1L54.9 3c-1.4-1.6-3.9-1.6-5.3 0L15 41c-2.3 2.6 0 6.6 3.4 5.9l21-4.2v50.4c0 2 1.6 3.6 3.6 3.6h18.2c2 0 3.6-1.6 3.6-3.6V42.7l21.5 4.2c3.2.9 5.5-3.3 3.2-5.8z")
        |  Tap the 
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
          path(d="M72.3 86.138c1.5-.2 2.6-1.6 2.4-3.2v-.1l-3.6-22 15.7-15.7c1.1-1.1 1.1-2.9 0-4-.4-.4-1-.7-1.6-.8l-21.8-3.4-9.9-19.9c-.7-1.4-2.4-2-3.8-1.3-.5.3-1 .7-1.2 1.3l-9.9 19.9-21.8 3.4c-1.5.2-2.6 1.7-2.3 3.2.1.6.4 1.1.8 1.6l15.7 15.7-3.6 22c-.3 1.5.8 3 2.3 3.3.6.1 1.2 0 1.8-.3l19.6-10.2 19.6 10.2c.4.2 1 .3 1.6.3zm-4-8l-15.9-8.3c-.8-.4-1.8-.4-2.6 0l-15.9 8.3 2.9-17.8c.1-.9-.2-1.8-.8-2.5l-12.8-12.7 17.7-2.7c.9-.1 1.7-.7 2.1-1.5l8.1-16.2 8.1 16.2c.4.8 1.2 1.4 2.1 1.5l17.7 2.7-12.8 12.7c-.6.6-.9 1.6-.8 2.5-.1 0 2.9 17.8 2.9 17.8z")
        |  icon, it's up there in the address bar.
    .help.opera-help(v-else-if="browser == 'opera'")
      span
        svg.arrow.arrow-up(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
          path(d="M89.5 41.1L54.9 3c-1.4-1.6-3.9-1.6-5.3 0L15 41c-2.3 2.6 0 6.6 3.4 5.9l21-4.2v50.4c0 2 1.6 3.6 3.6 3.6h18.2c2 0 3.6-1.6 3.6-3.6V42.7l21.5 4.2c3.2.9 5.5-3.3 3.2-5.8z")
        |  Tap the 
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
          path(d="M65.6 22.2c-5.1 0-10.3 1.9-14.1 5.8-3.9-3.9-9-5.8-14.1-5.8S27.2 24.1 23.3 28c-7.8 7.8-7.8 20.5 0 28.3l28.2 28.3 28.3-28.3c3.9-3.9 5.8-9 5.8-14.1S83.7 32 79.8 28.1c-3.9-4-9-5.9-14.2-5.9zm9.9 29.9l-24 24-24-24c-2.6-2.6-4.1-6.1-4.1-9.9 0-3.8 1.4-7.3 4.1-9.9 2.6-2.6 6.1-4.1 9.9-4.1 3.8 0 7.3 1.4 9.9 4.1l4.2 4.3 4.2-4.2c2.6-2.6 6.1-4.1 9.9-4.1s7.3 1.4 9.9 4.1c2.6 2.6 4.1 6.1 4.1 9.9s-1.4 7.1-4.1 9.8z")
        |  icon up there 
    .help.vivaldi-help(v-else-if="browser == 'vivaldi'")
      span
        svg.arrow.arrow-up(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
          path(d="M89.5 41.1L54.9 3c-1.4-1.6-3.9-1.6-5.3 0L15 41c-2.3 2.6 0 6.6 3.4 5.9l21-4.2v50.4c0 2 1.6 3.6 3.6 3.6h18.2c2 0 3.6-1.6 3.6-3.6V42.7l21.5 4.2c3.2.9 5.5-3.3 3.2-5.8z")
        |  Tap the bookmark icon up there.
    .button-holder
      button(v-on:click="help = false")
        span Okay, did that.