- const testing = false
- const pageTitle = "Home"
- const siteTitle = "DAMN DOG"
- const description = "The guessing game for wikiHow illustrations."
- const d = new Date()
- const lastUpdated = d.toISOString()
- const siteURL = "https://damn.dog"

- const emailAddress = "lemon@damn.dog"
- const twitterHandle = "@AhoyLemon"