- var testing = false
- var pageTitle = "Home"
- var siteTitle = "DAMN DOG"
- var description = "The guessing game for wikiHow illustrations."
- var d = new Date()
- var lastUpdated = d.getFullYear() + '-' + (d.getMonth()<10?'0':'') + d.getMonth() + '-' + (d.getDate()<10?'0':'') + d.getDate() + '@' + (d.getHours()<10?'0':'') + d.getHours() + ':' + (d.getMinutes()<10?'0':'') + d.getMinutes() + ':' + (d.getSeconds()<10?'0':'') + d.getSeconds()
- var siteURL = "https://damn.dog"