- var pageTitle = "Home"
- var lastUpdated = "02.25.2016"

doctype html
html(lang="en")
  head
    include partials/mixins.jade
    include partials/head.jade
  body
    
    include partials/header.jade
    
    // PAGE CONTENT
    section.image-holder
      .child
        h1(data-display="guess") What is the title of this WikiHow article?
        img#HeroPic()
        .input-holder(data-display="guess")
          select#GuessTitle
            option
        .result(data-display="wrong")
          h2.nope Nope!
          span.correctis Correct answer is 
          a.correct-title#CorrectTitle(target="_blank")
        .result(data-display="correct")
          h2.yup That's right.
          a.correct-title#ActualTitle(target="_blank")
        .button-holder(data-display="play again")
          button#PlayAgain Play Again
    
    include partials/gameover.jade

    include partials/footer.jade
    include partials/javascripts.jade