# Dependencies
node_modules/

# Build outputs
css/
js/min/
*.html
!_docs/

# TypeScript
*.tsbuildinfo

# Sass
.sass-cache/
*.css.map

# IDE
*.swp
*.swo
*~

# OS Files
# =========================
# OSX
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Buld Outputs
css/
js/min/
js/partials/*.js
js/partials/*.map
js/damn.vue.js
*.html
sitemap.xml
!_docs/
