body { font-family: $font; font-size:$font-size; background:$dark; }
h1, h2, h3, h4, h5 h6 { font-family: $headline; }
p { padding-bottom: 1em; }
svg * { fill:currentColor; }
[v-cloak] { display: none !important; }