@use "variables" as vars;
@use "mixins" as mix;

%inner {
  width: 100%;
  max-width: vars.$max-width;
  margin-left: auto;
  margin-right: auto;
}

%wide-inner {
  width: 100%;
  max-width: calc(#{vars.$big-inner} - 4em);
  padding-left: 2em;
  padding-right: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%quote {
  &:before {
    content: "\201C";
  }
  &:after {
    content: "\201D";
  }
}

%center-child {
  @include mix.flex-container(center);
  > .child {
    flex-basis: 100%;
  }
}

%flexy {
  @include mix.flex-container();

  @media (max-width: vars.$mobile-max) {
    .one-quarter {
      flex-basis: 50%;
    }
    .one-third {
      flex-basis: 100%;
    }
    .one-half {
      flex-basis: 100%;
    }
    .two-thirds {
      flex-basis: 100%;
    }
    .three-quarters {
      flex-basis: 100%;
    }
    .full-width {
      flex-basis: 100%;
    }
  }
  @media (min-width: vars.$desktop-min) {
    .one-quarter {
      flex-basis: 25%;
    }
    .one-third {
      flex-basis: 33.333%;
    }
    .one-half {
      flex-basis: 50%;
    }
    .two-thirds {
      flex-basis: 66.666%;
    }
    .three-quarters {
      flex-basis: 75%;
    }
    .full-width {
      flex-basis: 100%;
    }
  }

  &.pad-insides {
    margin-left: -(vars.$base-margin / 2);
    margin-right: -(vars.$base-margin / 2);
    .pad-me {
      padding-left: vars.$base-margin / 2;
      padding-right: vars.$base-margin / 2;
      padding-bottom: vars.$base-margin / 2;
    }
  }
}

%cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

%flexy-stack {
  @include mix.flex-container(stretch, column);
  .one-half {
    flex-basis: 50%;
  }
}

%column-fix {
  break-inside: avoid;
}
