footer { @include position(fixed, null,0,0,0) height:$footer-height; background: $lessdark; color:$white; font-weight:$light; text-align:center; padding:1em; font-size:0.85em; z-index:$z-footer;
  a { color:$link; text-decoration: none;
    &:hover { text-decoration: underline; }
    
    &.close { @include position(absolute,0.6em,0.6em); font-size:1.5em; font-weight:$bold; cursor: pointer;
      &:hover { transform:scale(1.2); }
      &:active { transform:scale(0.8); }
    }
  }
}

@media screen and (max-height: 620px) {
  footer { display: none; }
}