footer { @include position(fixed, null,0,0,0) height:$footer-height; background: $lessdark; color:$white; font-weight:$light; text-align:center; padding:1em; font-size:0.85em; z-index:$z-footer;
  a { color:$link; text-decoration: none;
    &:hover { text-decoration: underline; }
  }
  // > .inner { @extend %inner; padding: 1em; }
}

@media screen and (max-height: 620px) {
  footer { display: none; }
}