.sidebar { @include position(fixed,$header-height,0); background: $offwhite; width: 13rem; padding: 1rem; z-index: $z-sidebar; overflow-x: hidden; overflow-y: auto; max-height: calc(100% - #{$header-height});
  li { margin-bottom: 0.65em; }
  .label { display: block; }
  .indent { display: block; padding-left: 0.75em; font-weight: $bold; }
  a { color:$blue; text-decoration: none; cursor: pointer; 
    &:hover { text-decoration: underline; }
  }
  .smaller { font-size:0.8em; }
  transform: translateX(101%); transition: all 0.3s ease;
  &.visible { transform:translateX(0); }
}

.share-round-holder { @include position(fixed,0,0,0,0); z-index: $z-sharebox; background:rgba($black,0.73); display: none;
  .share-round { @extend %center-child; position: relative; height: 100%; }
  .child { text-align: center; color:$white; font-size:2rem; }
  span { display: block; margin-bottom: 0.5em; }
  .button { background:transparent; font-size:0.7em; border:2px solid $link; color:$link; font-family:$font; padding:.25em 1em; cursor:pointer;
    &:hover { background:$link; color:$dark; }
  }
}

.homescreen-help-holder {  background:$blue; color:$black; z-index:$z-homescreenbox; display: none;  
  &.android { @include position(fixed,0,0); max-width: 16em;
    .ios, .edge, .opera, .desktop-chrome { display: none; }
    b { display: block; }
    .tap-that-icon { margin-top: -1.2em; }
    .bottom-center-icon { display:none; }
  }
  &.ios { @include position(fixed,null,0,0,0);
    .homescreen-help { text-align: center; }
    .android, .edge, .opera, .desktop-chrome { display: none; }
    span.arrow { display:block; text-align: center;  }
    .top-right-icon { display:none; }
  }
  &.edge { @include position(fixed,0,0); max-width: 16em;
    .ios, .android, .opera, .desktop-chrome { display: none; }
  }
  &.opera { @include position(fixed,0,0); max-width: 16em;
    .top-right-icon { padding-right: 2.1em; }
    .ios, .android, .edge, .desktop-chrome { display: none; }
  }
  &.desktop-chrome { @include position(fixed,0,0); max-width: 16em;
    .ios, .android, .edge, .opera { display: none; }
  }
  .homescreen-help { text-align: right; padding-right: 0.5em; padding-bottom: 1em; padding-left: 1em; }  
  span.arrow { font-size:3.2em; }
  .button { color:$black; border:2px solid $black; padding:.25em 1em; cursor: pointer; 
    &:hover { color:$blue; background:$black; border-color: $blue; }
  }
}


@media all and (display-mode: standalone) {
  #AddToHomeScreen { display: none; }
}