doctype html
include partials/_variables.pug
html(lang="en")
  head
    include partials/_head.pug
  body
    
    #app
      include partials/_header.pug
      include partials/_sidebar.pug
      
      // HEY! WORK PLEASE
      
      main
        //- PAGE CONTENT
        section.image-holder(v-cloak)
          .child
            h1(v-if="!current.correct") What is the title of this wikiHow article?
            h2.nope(v-else-if="current.correct == 'wrong'") Nope.
            h2.yup(v-else-if="current.correct == 'right'") That's right.
            img#HeroPic(:src="current.pic")
            .input-holder(data-display="guess")
              select(v-model="current.guess" v-on:change="checkGuess(current.guess)" v-bind:disabled="current.correct == 'right' || current.correct == 'wrong'")
                option(value="" disabled hidden) How To
                option(v-for="choice in current.choices") {{choice.title}}
                  
            .result(v-if="current.correct == 'wrong'")
              span.correctis Correct answer is 
              a.correct-title(v-if="current.url" v-on:click="wikiClick(current.url, current.title)" :href="current.url" target="_blank") {{current.title}}
            .result(v-if="current.correct == 'right'")
              a.correct-title(v-if="current.url" v-on:click="wikiClick(current.url, current.title)" :href="current.url" target="_blank") {{current.title}}
            .button-holder(v-if="current.correct == 'right' || current.correct == 'wrong'")
              button(v-on:click="newRound()") Play Again
      
        
      include partials/_banner.pug
      include partials/_gameover.pug
      
    include partials/_javascripts.pug
    include partials/_schema.pug