- var pageTitle = "Home"
- var siteTitle = "damn.dog"
- var description = "A guessing game for wikiHow illustrations."
- var d = new Date()
- var lastUpdated = d.getFullYear() + '-' + (d.getMonth()<10?'0':'') + d.getMonth() + '-' + (d.getDate()<10?'0':'') + d.getDate() + '@' + (d.getHours()<10?'0':'') + d.getHours() + ':' + (d.getMinutes()<10?'0':'') + d.getMinutes() + ':' + (d.getSeconds()<10?'0':'') + d.getSeconds()
- var siteURL = "http://damn.dog"

doctype html
html(lang="en")
  head
    include partials/_head.pug
  body
    
    include partials/_header.pug
    include partials/_sidebar.pug
    
    main
      
      // PAGE CONTENT
      section.image-holder
        .child
          h1(data-display="guess") What is the title of this wikiHow article?
          h1.nope(data-display="wrong") Nope.
          h1.yup(data-display="correct") That's right.
          img#HeroPic()
          .input-holder(data-display="guess")
            select#GuessTitle
              option
              optgroup(label="")
          .result(data-display="wrong")
            span.correctis Correct answer is 
            a.correct-title#CorrectTitle(target="_blank")
          .result(data-display="correct")
            a.correct-title#ActualTitle(target="_blank")
          .button-holder(data-display="play again")
            button#PlayAgain Play Again
    
    include partials/_gameover.pug
    include partials/_javascripts.pug
    include partials/_schema.pug