-
  paragraphs = ["Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris commodo orci nec nisi accumsan, sed vulputate felis maximus. Morbi condimentum commodo odio, vel feugiat enim fringilla eu. Nunc dictum, odio et dictum feugiat, metus risus feugiat magna, imperdiet dapibus nulla nunc vitae lorem.",
                "Fusce tempus vitae purus eu imperdiet. Phasellus tristique tempus tortor, eu congue nibh lacinia sed. Pellentesque nunc est, efficitur vitae purus eu, auctor placerat dolor.",
                "Hammock talk come soon. Congratulations, you played yourself. You see that bamboo behind me though, you see that bamboo? Ain’t nothin’ like bamboo.",
                "Hodor. Hodor hodor... Hodor hodor hodor hodor. Hodor, hodor. Hodor. Hodor, hodor, hodor. Hodor hodor?! Hodor, hodor. Hodor. Hodor, hodor - hodor hodor! Hodor, hodor, hodor. Hodor hodor hodor. Hodor. Hodor hodor - hodor... Hodor hodor hodor hodor; hodor hodor? Hodor. Hodor HODOR hodor, hodor hodor...",
                "The moment Alice appeared, she was appealed to by all three to settle the question, and they repeated their arguments to her, though, as they all spoke at once, she found it very hard indeed to make out exactly what they said.",
                "We the best. Celebrate success right, the only way, apple. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started. The key to more success is to have a lot of pillows. They don’t want us to win. Every chance I get, I water the plants, Lion!",
                "Collaboratively administrate empowered markets via plug-and-play networks.",
                "Apple pie pudding candy canes. Powder carrot cake icing dessert oat cake candy pastry. Icing dragée macaroon.",
                "Get me a vodka rocks. And a piece of toast.",
                '"Then we are all right," answered the Scarecrow, "for you can carry us all over on your back, one at a time."',
                "In life you have to take the trash out, if you have trash in your life, take it out, throw it away, get rid of it, major key. It’s on you how you want to live our life. Everyone has a choice. I pick my choice, squeaky clean. We the best. You see that bamboo behind me though, you see that bamboo? Ain’t nothin’ like bamboo. Watch your back, but more importantly when you get out the shower, dry your back, it’s a cold world out there. In life you have to take the trash out, if you have trash in your life, take it out, throw it away, get rid of it, major key.",
                "Is that a cooking show? Yeah, I do that with my stupidness. Oh sure! Blame the wizards! Daddy Bender, we're hungry. When will that be? Well I'da done better, but it's plum hard pleading a case while awaiting trial for that there incompetence.",
                "That night nearly forty people lay under the starlight about the pit, charred and distorted beyond recognition.",
                "Hi boys. I'm Tina. Everyone began to touch each other's butts. It's not meant to be hilarious. It's supposed to be erotic. The hand wants what the hand wants. I've logged over 3,000 fantasy hours on my relationship with Jimmy Jr. You don't just throw that away. Everything I know to be true just went out the window.",
                "Our grantees and partners breakthrough insights transformative experience in the field accessibility. Institutions; committed disrupt process cornerstone. Free-speech replicable Bloomberg sustainability inspiration resolve. Hack Cesar Chavez crisis management foundation philanthropy challenges of our times educate Jane Addams end hunger",
                "Chokehold macho madness lives forever. we have nothing to fear, but fear itself...and the macho man! the madness is runnin' wild! you're goin' nowhere! diving vertical suplex macho the same fire the dragon breathes. hey, freakshow! intercontinental champion snake eyes rules? vertical suplex champion ric flair love it, or leave it. macho madness lives forever. ooooooh yeah!",
                "Here are biscuits to eat and here is milk to drink, I underlying causes to balance them at last, Sun so generous it shall be you.",
                "Regardless of the copyright license set forth in this License, each Contributor hereby grants Recipient a non-exclusive, worldwide, royalty-free copyright license to make, use, sell, offer to sell, import and otherwise transfer the Work, and no requirements are made concerning any offers of support for the Program shall continue and survive",
                "Lomo green juice single-origin coffee pickled XOXO. Typewriter skateboard austin, forage fixie four loko keffiyeh cray readymade taxidermy celiac 90's intelligentsia tilde everyday carry. Irony kombucha helvetica organic wayfarers meggings ethical, typewriter cardigan chartreuse fanny pack slow-carb. Chillwave kinfolk franzen biodiesel, flexitarian dreamcatcher brooklyn single-origin coffee blue bottle poutine cray. Chia chartreuse shabby chic post-ironic, scenester artisan kombucha 3 wolf moon austin disrupt before they sold out tousled. Post-ironic etsy roof party cardigan keffiyeh, tofu put a bird on it lomo marfa. Kale chips schlitz knausgaard occupy bitters.",
                "No! You don't even believe that! Gus has cameras everywhere, please. Listen to yourself!",
                "The next morning the soldier with the green whiskers led the Lion to the great Throne Room and bade him enter the presence of Oz."
                ]

- var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
- var days = ["1st", "2nd", "3rd", "4th", "5th", "6th", "7th", "8th", "9th", "10th", "11th", "12th", "13th", "14th", "15th", "16th", "17th", "18th", "19th", "20th", "21st", "22nd", "23rd", "24th", "25th", "26th", "27th", "28th", "29th", "30th"]
- var chartTypes = ["bar", "line", "pie"]

-
  tags = ["lorem ipsum", 
          "dolor sit amet",
          "lion!", 
          "another one", 
          "unsliced canadian bacon",
          "three american dollars",
          "fo shizzle",
          "vodka rocks",
          "hodor",
          "ooooooooooooooooooh yeah",
          "bonesaw is ready",
          "locally sourced produce",
          "hodor hodor hodor",
          "how very curious"
          ]
          
-
  titles = ["The 13 Best SEO Twitter Feeds To Follow",
            "How To Make Work Suck Less",
            "Red Circle named as one of 2015 fastest-growing companies",
            "Red Circle Wins 11 Telly Awards",
            "Planning a Social Media Budget",
            "The Proper Way To Make A Moscow Mule",
            "What Experts Are Saying About Content Strategy",
            "What The Amish Can Teach You About Casinos",
            "Why Gaming Is The 51st Shade Of Grey"
  ]

- var authors = ["Angel", "Chris", "Molly", "Darrin", "Deborah", "Tara", "Chad", "Craig"]