header#ScoreHeader
  .inner.score-holder
    .box.score-box
      span.score.label score
      span.score.number#ScoreNumber 0
    .box.percent-box
      span.percent.label correct
      span.percent.number#ScorePercent 0%
    .box.hamburger-holder
      button.hamburger
        svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32")
          g.open#HamburgerOpen
            path(d="M28.8 6.9H3.2c-.8 0-1.5-.7-1.5-1.5s.7-1.5 1.5-1.5h25.6c.8 0 1.5.7 1.5 1.5s-.7 1.5-1.5 1.5zM28.8 17.5H3.2c-.8 0-1.5-.7-1.5-1.5s.7-1.5 1.5-1.5h25.6c.8 0 1.5.7 1.5 1.5s-.7 1.5-1.5 1.5zM28.8 28H3.2c-.8 0-1.5-.7-1.5-1.5S2.4 25 3.2 25h25.6c.8 0 1.5.7 1.5 1.5s-.7 1.5-1.5 1.5z")
          g.close#HamburgerClose
            path(d="M29.7 25.4L18.3 16l11.3-9.5c.6-.5.7-1.5.2-2.1-.5-.6-1.5-.7-2.1-.2L16 14 4.1 4.2c-.6-.5-1.5-.4-2.1.2-.5.7-.4 1.6.2 2.1L13.6 16 2.3 25.5c-.6.5-.7 1.5-.2 2.1.3.4.7.5 1.1.5.3 0 .7-.1 1-.4L16 17.9l11.8 9.8c.3.2.6.3 1 .3s.9-.2 1.2-.5c.5-.6.4-1.6-.3-2.1z")