script(type="application/ld+json").
  {
    "@context": "http://schema.org",
    "@type": "VideoGame",
    "name": "damn.dog",
    "url": "http://damn.dog",
    "alternateName": "The WikiHow Illustration Game",
    "image": "http://damn.dog/img/og-image.png",
    "playMode": "SinglePlayer",
    "gamePlatform": "web browser",
    "description": "damn.dog is a simple browser-based game where players are shown an actual WikiHow illustration, and must guess which article that illustration is used on.",
    "inLanguage": "English",
    "author": {
      "@type": "Person",
      "name": "Lemon",
      "url": "https://thefpl.us/meet/lemon",
      "sameAs": "https://twitter.com/AhoyLemon"
    },
    "publisher": {
      "@type": "PerformingGroup",
      "name": "The F Plus",
      "url": "https://thefpl.us"
    },
    "review": {
      "name": "Tumblr",
      "url": "https://lunulata.tumblr.com/post/142591221607/this-is-a-good-game-because-these-are-all-real"
    },
    "review": {
      "name": "Rock Paper Shotgun",
      "url": "https://www.rockpapershotgun.com/2016/04/11/wikihow-game/"
    },
    "review": {
      "name": "Rock Paper Shotgun",
      "url": "https://www.rockpapershotgun.com/2016/04/11/wikihow-game/"
    },
    "review": {
      "name": "Reddit",
      "url": "https://www.reddit.com/r/WebGames/comments/4b6qlr/a_simple_game_where_you_try_to_guess_the_wikihow/"
    },
    "review": {
      "name": "Destructoid",
      "url": "http://www.destructoid.com/it-s-surprisingly-difficult-to-guess-wikihow-articles-based-on-header-images-354627.phtml"
    },
    "review": {
      "name": "Kotaku UK",
      "url": "http://www.kotaku.co.uk/2016/04/11/the-wikihow-illustration-game-made-me-spray-tea-through-my-nose"
    }
  }
  