.sidebar
  ul
    li
      span.label Game by
      span.indent
        a(href="https://thefpl.us/meet/lemon" target="blank" onclick="sendGA('outside link', 'https://thefpl.us/meet/lemon')") Lemon
    li 
      span.label Current round count
      span.indent
        span.number-of-rounds XXX
    li 
      span.label There's a
      span.indent
        a(href="https://github.com/AhoyLemon/Damn-Dog" target="blank" onclick="sendGA('outside link', 'https://github.com/AhoyLemon/Damn-Dog')") GitHub repo
    li
      span.label You can
      span.indent
        a#OpenSharebox share this round.
    li.smaller Your progress will be saved if you close this browser.
    
.share-round-holder
  .share-round
    .child
      span Just copy the URL. The other person will see this round.
      a.button.close-sharebox#CloseSharebox Alright.
//-
  .reviews-holder
    .reviews
      a(href="https://lunulata.tumblr.com/post/142591221607/this-is-a-good-game-because-these-are-all-real") tumblr
      a(href="https://www.rockpapershotgun.com/2016/04/11/wikihow-game/") Rock Paper Shotgun
      a(href="https://www.reddit.com/r/WebGames/comments/4b6qlr/a_simple_game_where_you_try_to_guess_the_wikihow/") Reddit
      a(href="http://www.destructoid.com/it-s-surprisingly-difficult-to-guess-wikihow-articles-based-on-header-images-354627.phtml") Destructoid
      a(href="http://www.kotaku.co.uk/2016/04/11/the-wikihow-illustration-game-made-me-spray-tea-through-my-nose") Kotaku UK
      a(href="http://www.dailydot.com/lol/damn-dog-wikihow-illustration-guessing-game/") Daily Dot
      a(href="http://www.gizmodo.com.au/2016/04/the-best-game-on-the-internet-is-all-about-weird-wikihow-illustrations/") Gizmodo AU
      a(href="http://freeindiega.me/post/142683194270/damndog-by-lemon") FREEINDIEGA.ME